<!doctype html>

<html lang="en">
<head>
    <title>Request a Ride</title>
    <meta charset="utf-8"> 
    
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <link rel="stylesheet" href="css/riderhome.css" type="text/css">
      
</head>
<body>        
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Friendpool</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="drivertime">Driver</a></li>
                    <li><a href="riderhome">Rider</a></li>
                    <li><a href="help">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>REQUEST A RIDE</h1>
        {{#each friends}}
            {{#if available}}
            <a href="confirm">
            <div class="row">
                <div class="col-sm-4">{{depart}}</div>
                <div class="col-sm-2"><img src="{{imageURL}}"></div>
                <div class="col-sm-6">{{name}}</div>
            </div>
            </a>
            {{else}}
            <div class="row" id="unavailable">
                <div class="col-sm-4">{{depart}}</div>
                <div class="col-sm-2"><img src="{{imageURL}}"></div>
                <div class="col-sm-6">{{name}}</div>
            </div>
            {{/if}}
        {{/each}}
        
<!--        <script src="js/riderhome.js"></script>-->
        
        <div class="goback">
            <a href="driverrider">
                <button type="button" class="btn btn-primary" onclick="history.go(-1)">Go back</button>
            </a>
        </div>
    </div>
</body>
</html>