<!doctype html>

<html lang="en">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88023564-1', 'auto');
  ga('send', 'pageview');

</script>
    
<head>
    <title>Request a Ride</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <link rel="stylesheet" href="css/riderhome.css" type="text/css">
      
</head>
<body>        
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Friendpool</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active" ><a href="drivertime" onClick="ga(‘send’, ‘event’, ‘RiderHome’, ‘Driver’, 1);">Driver</a></li>
                        <li><a href="riderinfo" onClick="ga(‘send’, ‘event’, ‘RiderHome’, ‘Rider’, 1);">Rider</a></li>
                        <li><a href="help" onClick="ga(‘send’, ‘event’, ‘RiderHome’, ‘Help’, 1);">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>REQUEST A RIDE</h1>
        
        {{#each friends}}
            {{#if available}}
            <a href="confirm">
            <div class="row">
                <div class="col-xs-4">{{depart}}</div>
                <div class="col-xs-4"><img src="{{imageURL}}"></div>
                <div class="col-xs-4">{{name}}</div>
            </div>
            </a>
            {{else}}
            <div class="row" id="unavailable">
                <div class="col-xs-4">{{depart}}</div>
                <div class="col-xs-4"><img src="{{imageURL}}"></div>
                <div class="col-xs-4">{{name}}</div>
            </div>
            {{/if}}
        {{/each}}
        
<!--        <script src="js/riderhome.js"></script>-->
        
        <div class="pull-left">
            <a href="riderinfo">
                <button type="button" class="btn-primary btn">Go back</button>
            </a>
        </div>
    </div>1
</body>
</html>